html, body, #app {
  height: 100%;
  margin: 0;
  background-color: #212121;
  color: #f5f5f5;
}

h1 {
  color: #f5f5f5;
}

.chat-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #424242;
  background-color: #333333;
  min-height: 400px;
  max-height: calc(100% - 80px);
  overflow-y: auto;
}

.message {
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
  white-space: pre-wrap; /* Add this line */
}


.user {
  color: #90caf9;
  display: block;
  text-align: right;
}

.assistant {
  color: #f5f5f5;
  display: block;
  text-align: left;
}

.input-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333333;
  padding: 10px;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.3);
}

input {
  padding: 5px;
  width: 80%;
  border: 1px solid #424242;
  background-color: #424242;
  color: #f5f5f5;
  font-size: 14px;
}

button {
  background-color: #90caf9;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background-color: #64b5f6;
}
